<div class="content-view">
    <h2>{{category.name}} - Cotnent Manager -  {{action}}</h2>
    <div *ngIf='action == "view"'>
        <h3>{{content?.title}}</h3>
        <div class="buttons-bar">
            <button (click)='editContent(content?.id)'>edit</button>
        </div>
        <div>
            <p>{{content?.description}}</p>
        </div>
    </div>
    <div *ngIf='action != "view"'>
        <form #f="ngForm" (ngSubmit)="saveContent(f.value)">
            <div class="form">
                <div class='buttons-bar'>
                    <button type='submit'>save</button>
                    <button *ngIf='action == "create"' (click)="cancelForm()">cancel</button>
                    <button  *ngIf='action == "edit"' (click)="deleteContent(content?.id)">delete</button>
                </div>
                <div class='form-content'>
                    <div class="form-content">
                        <label for='title'>Title</label>
                        <input id='title' type="title" placeholder="Please enter content title" [(ngModel)]="content.title" required />
                    </div>
                    <div class="form-content">
                        <label for="description">Description</label>
                        <textarea id='description' [(ngModel)]='content.description' required>
                        </textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
