body {
  background-color: lightgrey;
}
section.main{
		display:flex;
		flex-direction:column;
		align-items:center;
		h1{
			font-size:18px;
		}
		header{

		}
}
.content-wrapper{
	width:80%;
	border:1px solid black;
	display:flex;
	
		nav {
			flex-basic:20%;
			border:1px solid green;
		}
		section{
			flex-basic:80%;
			border:1px solid yellow;
		}
	
}