body {
  background-color: lightgrey;
}
h2{
		font-size:16px;
	}
section.main{
		display:flex;
		flex-direction:column;
		align-items:center;
		h1{
			font-size:18px;
		}
		header{

		}
}
.content-wrapper{
	width:80%;
	border:1px solid black;
	display:flex;
	
		nav {
			flex-basic:20%;
			border:1px solid green;
			li {
				list-style-type:none;
			}
		}
		section{
			flex-basic:80%;
			border:1px solid yellow;
		}
}
.category-view{
	
}

.content-view{
	.form{
		display:flex;
		flex-direction:column;
	}
	.buttons-bar{
		button{
			margin:5px;
		}
	}
	.form-content{
		display:flex;
		flex-direction:column;
	}


}
.breadcrumbs ul{
 	display:flex;

 	li {
		list-style-type:none;
		margin-right:5px;
		&:before{
			content: "\2192";
			margin-right:2px;
		}
		&:first-child:before{
			content: ' ';
		}
	}
	
}